---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ExperiencePost from '../../components/ExperiencePost.astro';

export async function getStaticPaths() {
    const allExperiences = Object.values(import.meta.glob('../experiences/*.md', { eager:true }));
    const uniqueTags = [...new Set(allExperiences.map((experience: any) => experience.frontmatter.tags).flat())];
    
    return uniqueTags.map((tag) => {
        const filteredPosts = allExperiences.filter((post: any) => post.frontmatter.tags.includes(tag));
            return {
                params: { tag },
                props: {post: filteredPosts},
            };
        });
}


const { tag } = Astro.params;
const { experiences } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}s</p>
    <ul>
        {experiences.map((experience: any) => <ExperiencePost url={experience.url} title={experience.frontmatter.title}/>)}
    </ul>
</BaseLayout>