---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ReviewBoard from '../../components/ReviewBoard.vue'; // Asegúrate de la ruta de importación relativa

const pageTitle = "Diario de Huéspedes";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="py-6 px-2">
    <ReviewBoard client:load />
  </main>
</BaseLayout>